<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Hello, Spring Boot!')"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:replace="fragments/common :: menu('home')"></nav>
<main role="main" class="container">
  <div class="row text-center mt-5">
  <div class="starter-template">
    <h1>Spring Boot Tutorial</h1>
    <p class="lead">Spring Boot를 이용해 웹 페이지 제작<br>Spring Security, JPA를 이용해 보안 설정과 데이터 다루기</p>
  </div>
  </div>
</main>


</body>
</html>